.user-card-link{
    font-style: none;
    text-decoration: none;
    background-color: #bfa1a1;
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;

}
.user-card-link:hover{
    background-color: #d8baba;

}
.nav-link{
    font-style: none;
    text-decoration: none;
    font-size: 30px;
    color: #000;
}

